<?xml version="1.0" encoding="UTF-8"?>
<interface>
    <menu id="app-menubar">
        <submenu>
            <attribute name="label">_File</attribute>
            <section>
                <item>
                    <attribute name="label">New game</attribute>
                    <attribute name="action">app.file-new</attribute>
                </item>
                <item>
                    <attribute name="label">New window</attribute>
                    <attribute name="action">app.file-new_window</attribute>
                </item>
                <item>
                    <attribute name="label">Load game...</attribute>
                    <attribute name="action">app.file-open</attribute>
                </item>
                <item>
                    <attribute name="label">Save: Add Game...</attribute>
                    <attribute name="action">app.file-save_append</attribute>
                </item>
                <item>
                    <attribute name="label">Save: Replace Game...</attribute>
                    <attribute name="action">app.file-save</attribute>
                </item>
            </section>
            <section>
                <item>
                    <attribute name="label">Import PGN...</attribute>
                    <attribute name="action">app.file-import_pgn</attribute>
                </item>
                <item>
                    <attribute name="label">Export as PGN...</attribute>
                    <attribute name="action">app.file-export_pgn</attribute>
                </item>
            </section>
            <section>
                <item>
                    <attribute name="label">Quit</attribute>
                    <attribute name="action">app.file-quit</attribute>
                </item>
            </section>
        </submenu>
        <submenu>
            <attribute name="label">_Edit</attribute>
            <section>
                <item>
                    <attribute name="label">Undo</attribute>
                    <attribute name="action">app.edit-undo</attribute>
                </item>
                <item>
                    <attribute name="label">Redo</attribute>
                    <attribute name="action">app.edit-redo</attribute>
                </item>
                <item>
                    <attribute name="label">Undo All</attribute>
                    <attribute name="action">app.edit-undo_all</attribute>
                </item>
                <item>
                    <attribute name="label">Redo all</attribute>
                    <attribute name="action">app.edit-redo_all</attribute>
                </item>
            </section>
            <section>
                <item>
                    <attribute name="label">Copy game</attribute>
                    <attribute name="action">app.edit-copy_game</attribute>
                </item>
                <item>
                    <attribute name="label">Paste game</attribute>
                    <attribute name="action">app.edit-paste_game</attribute>
                </item>
                <item>
                    <attribute name="label">Copy game fen</attribute>
                    <attribute name="action">app.edit-copy_game_fen</attribute>
                </item>
                <item>
                    <attribute name="label">Paste game fen</attribute>
                    <attribute name="action">app.edit-paste_game_fen</attribute>
                </item>
            </section>
            <section>
                <item>
                    <attribute name="label">Edit Game Headers...</attribute>
                    <attribute name="action">app.edit-edit_headers</attribute>
                </item>
            </section>
            <section>
                <item>
                    <attribute name="label">Preferences...</attribute>
                    <attribute name="action">app.edit-settings</attribute>
                </item>
            </section>
        </submenu>
        <submenu>
            <attribute name="label">_View</attribute>
            <section>
                <item>
                    <attribute name="label">Toggle Status Frames</attribute>
                    <attribute name="action">app.view-toggle_status_frames</attribute>
                </item>
                <item>
                    <attribute name="label">Flip Board</attribute>
                    <attribute name="action">app.view-flip_chessboard</attribute>
                </item>
                <item>
                    <attribute name="label">Toggle Fullscreen</attribute>
                    <attribute name="action">app.view-toggle_fullscreen</attribute>
                </item>
            </section>
        </submenu>
        <submenu>
            <attribute name="label">_Game</attribute>
            <section>
                <item>
                    <attribute name="label">Engine move</attribute>
                    <attribute name="action">app.game-engine_move</attribute>
                </item>
                <item>
                    <attribute name="label">Random move</attribute>
                    <attribute name="action">app.game-random_move</attribute>
                </item>
            </section>
            <section>
                <item>
                    <attribute name="label">Setup start position</attribute>
                    <attribute name="action">app.game-setup_start_position</attribute>
                </item>
                <item>
                    <attribute name="label">Engine Setup position</attribute>
                    <attribute name="action">app.game-engine_setup_position</attribute>
                </item>
            </section>
        </submenu>
        <submenu>
            <attribute name="label">_Help</attribute>
            <section>
                <item>
                    <attribute name="label">License</attribute>
                    <attribute name="action">app.help-license</attribute>
                </item>
            </section>
            <attribute name="label">_Help</attribute>
            <section>
                <item>
                    <attribute name="label">About Schach</attribute>
                    <attribute name="action">app.help-about</attribute>
                </item>
            </section>
        </submenu>
    </menu>
    <menu id="app-popover">
        <section>
            <attribute name="label">New Window</attribute>
            <attribute name="action">app.new-window</attribute>
        </section>
        <section>
            <submenu>
                <attribute name="label">View</attribute>
                <item>
                    <attribute name="label">Toggle Status Frames</attribute>
                    <attribute name="action">app.view-toggle_status_frames</attribute>
                </item>
                <item>
                    <attribute name="label">Flip Board</attribute>
                    <attribute name="action">app.view-flip_chessboard</attribute>
                </item>
                <item>
                    <attribute name="label">Toggle Fullscreen</attribute>
                    <attribute name="action">app.view-toggle_fullscreen</attribute>
                </item>
            </submenu>
        </section>
        <section>
            <item>
                <attribute name="label">Preferences</attribute>
                <attribute name="action">app.edit-settings</attribute>
            </item>
        </section>
        <section>
            <item>
                <attribute name="label">About</attribute>
                <attribute name="action">app.help-about</attribute>
            </item>
        </section>
    </menu>
</interface>