* {
  background-clip: padding-box;
  -GtkToolButton-icon-spacing: 4;
  -GtkTextView-error-underline-color: #FC4138;
  -GtkScrolledWindow-scrollbar-spacing: 0;
  -GtkToolItemGroup-expander-size: 11;
  -GtkWidget-text-handle-width: 20;
  -GtkWidget-text-handle-height: 20;
  -GtkDialog-button-spacing: 4;
  -GtkDialog-action-area-border: 0;
  outline-color: alpha(currentColor,0.3);
  outline-style: dashed;
  outline-offset: -3px;
  outline-width: 1px;
  -gtk-outline-radius: 2px;
}

.background {
  color: #D3DAE3;
  background-image: url("/home/sam/Chess-12.png");
}

*:disabled {
  -gtk-icon-effect: dim;
}

.gtkstyle-fallback {
  background-color: #363666;
  color: #D3DAE3;
}
  .gtkstyle-fallback:hover {
    background-color: #4e5467;
    color: #D3DAE3;
  }
  .gtkstyle-fallback:active {
    background-color: #22242d;
    color: #D3DAE3;
  }
  .gtkstyle-fallback:disabled {
    background-color: #3c4150;
    color: rgba(211, 218, 227, 0.45);
  }
  .gtkstyle-fallback:selected {
    background-color: #3333ff;
    color: #ffffff;
  }

.titlebar button {
  min-width: 25px;
  min-height: 25px;
  background: linear-gradient(#363636, #d9d9d9);
  padding: 5px;
  border: 0px;
}