[Desktop Entry]
Name=Schach
Comment=A chess-playing app that uses the stockfish engine
GenericName=Schach chess app
Exec=python3 /home/sam/programs/Schach -o %F none
Icon=/home/sam/programs/Schach/icons/application/appicon.png
Type=Application
Terminal=false
StartupNotify=true
Keywords=chess;master;pgn;
Actions=NewWindow;

[Desktop Action NewWindow]
Name=New Window
Exec=python3 /home/sam/programs/Schach -n