<ui>
    <menubar name="MenuBar">
        <menu action="File Menu">
            <menuitem action="File New"/>
            <menuitem action="File Save"/>
            <separator/>
            <menuitem action="File Quit"/>
        </menu>
        <menu action="Edit Menu">
            <menuitem action="Edit Undo"/>
            <menuitem action="Edit Redo"/>
            <separator/>
            <menuitem action="Edit Settings"/>
        </menu>
        <menu action="Game Menu">
            <menuitem action="Game ComputerGo"/>
        </menu>
        <menu action="Help Menu">
            <menuitem action="Help About"/>
        </menu>
    </menubar>
</ui>