<ui>
    <menubar name="MenuBar">
        <menu action="File Menu">
            <menuitem action="File New"/>
            <separator/>
            <menuitem action="File Quit"/>
        </menu>
        <menu action="Help Menu">
            <menuitem action="Help About"/>
        </menu>
    </menubar>
</ui>